.NavbarItems {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #ad6e24 74%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0
}

.navbar-logo {
  text-decoration: white;
  color: white;
  justify-self: start;
  margin-left: 2em;
  display: inline-block;
  cursor: pointer;
  width: 100%;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: 6d76f7;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: white;
}

.nav-links-mobile {
  display: none
}

menuIcon {
  display: none
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: sticky;
    top: 0
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 375px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5 ease;
  }

  .nav-menu.active {
    background: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #ad6e24 74%);
    left: 0;
    opacity: 1;
    transition: all 0.5 ease;
    z-index: 1;
    padding: 0;
    margin-top: 0
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: white;
    color: black;
    border-radius: 0;
    width: 100%
  }

  .navbar-logo-display {
    justify-self: start;
    display: inline-block;
    cursor: pointer;
    width: 100%;
  }

  menuIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer
  }

  .fa-times {
    color: white;
    font-size: 2rem;
  }
}